.link{
  padding-left: 15px;

  &--btn{
    background-color: rgba(2, 194, 2, 0.6);
    margin: 0 15px 0 15px;
    padding: 0 15px 0 15px;

    .button {
      font-size: 16px;
      background-color: transparent;
      color: #f1f1f1;
      border: none;
      cursor: pointer;
    }

    .button:focus {
      outline: rgba(2, 194, 2, 0.6);
    }
  }

}
