.signup-form{

  .form-input{
    width: 100%;
    margin: 10px 0 0;
    display: flex;
    justify-content: space-between;

    .name-input{
      width: 49%;
    }
  }

  .password-input{
    margin-top: 0;
  }

  .email-input{
    width: 100%;
  }

  .signup-btn{
    display: block;
    width: 100%;
    background-color: rgb(0, 99, 25);
    border: none;
    padding: 10px 0;
    margin: 20px 0 0;
    color: #ececec;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5rem;
    text-transform: uppercase;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
    transition: all .3s;

    &:hover {
      border-radius: 15px;
      box-shadow: 1px 1px 10px rgba(0,0,0,0.9);
    }
  }
}